.about {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.about-content {
  display: flex;
  align-items: flex-start;
  
}

.profile-photo {
  width: 320px; /* Adjust size as needed */
  height: 480px;
  border-radius: 5%; /* Makes the image round */
  margin-right: 20px; /* Space between image and text */
}

.about-text {
  flex: 1;
  font-size: medium;
}
